.staggered-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.staggered-text-item {
  opacity: 0;
  transform: translateY(1em);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate-h1 {
  transition-delay: 0.5s; /* Delay for h1 */
}

.animate-p {
  transition-delay: 1s; /* Delay for p */
}

.animate-button {
  transition-delay: 1.5s; /* Delay for button */
}

.staggered-text-container.animate .staggered-text-item {
  opacity: 1;
  transform: translateY(0);
}

.about-bio {
  width: 50%;
  max-height: 480px;
  overflow-y: hidden;
  margin-right: 10px;
}

.about-bio:hover {
  overflow-y: auto;
}

.about-bio::-webkit-scrollbar {
  width: 5px
}

.about-bio::-webkit-scrollbar-track {
  background: transparent;
}

.about-bio::-webkit-scrollbar-thumb {
  background-color: rgba(230, 90, 124, 0.8);
  border-radius: 5px;
}


.about-bio h1 {
  font-size: 2rem;
}

.about-bio p {
  font-size: 1.2rem;
}


.about-picture {
  width: 50%;
}

.myImg {
  width: 100%;
  height: auto;
}