.about-outlet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  max-height: calc(80vh - 176px);
}

.about-bio {
  width: 50%;
  max-height: calc(80vh - 176px);
  overflow-y: hidden;
  margin-right: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.about-bio ul {
  list-style: none;
}

.about-bio > div {
  border: 1px solid #66789D;
  border-radius: 10px;
  padding: 2vh 2vw;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}

.skills > li {
  border: 1px solid #66789D;
  border-radius: 5px;
  padding: 2vh 1vw;
  background-color: #e65a7c;
}

.about-bio:hover {
  overflow-y: auto;
}

.about-bio::-webkit-scrollbar {
  width: 5px
}

.about-bio::-webkit-scrollbar-track {
  background: transparent;
}

.about-bio::-webkit-scrollbar-thumb {
  background-color: rgba(230, 90, 124, 0.8);
  border-radius: 5px;
}


.about-bio h1 {
  font-size: 2rem;
}

.about-bio p {
  font-size: 1.2rem;
}


.about-picture {
  width: 50%;
}

.myImg {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .about-outlet {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 5vh;
  }
  .about-bio {
    width: auto;
    max-height: 25vh;
    overflow-y: auto;
  }

  .about-picture {
    height: 20%;
  }

  .myImg {
    border-radius: 20%;
    border: 1px solid #66789D;
    height: 100%;
    width: auto;
  }

  .about-bio::-webkit-scrollbar-thumb {
    display: none;
  }

}