#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 10px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
  color: #d0CFCF;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid #66789d;
  background-color: rgba(8, 34, 57, 0);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  color: black;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}


.contact-form{
  flex-direction: column;
  width: 100%;
  align-items: center;
  max-height: 480px;
  padding-right: 10px;
}

.contact-form:hover {
  overflow-y: auto;
}

.contact-form::-webkit-scrollbar {
  width: 5px
}

.contact-form::-webkit-scrollbar-track {
  background: transparent;
}

.contact-form::-webkit-scrollbar-thumb {
  background-color: rgba(230, 90, 124, 0.8);
  border-radius: 5px;
}


.contact-form::-webkit-scrollbar {
  width: 5px
}

.contact-form::-webkit-scrollbar-track {
  background: transparent;
}

.contact-form::-webkit-scrollbar-thumb {
  background-color: rgba(230, 90, 124, 0.8);
  border-radius: 5px;
}

.contact-form > div {
  width: 80%;
  display: flex;
  justify-content: center;
}

.contact-grid {
  display: grid !important;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 90px 90px 90px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.contact-grid div {
  padding: 8px;
}

.contact-grid label {
  display: block;
  margin-bottom: 5px;
}

.double-width {
  grid-column: span 2;
}

.contact-links {
  display: flex;
  justify-content: space-around;
  gap: 1vw;
  margin-top: 30px;
}

.contact-icon {
  font-size: 2rem;
}

.submit {
  margin-top: 50px;
}
