.intro-header {
  align-self: flex-start;
  margin-bottom: 10px;
}

.intro-header h1 {
  font-size: 3rem;
}

.intro-bio {
  width: 80%;
  align-self: flex-start;
  margin-bottom: 20px;
}

.intro-bio p {
  font-size: 1.3rem;
}

.intro-btn {
  align-self: center;
}

.intro-btn button {
  width: 15vw;
  height: 10vh;
  background-color: #E65A7C;
  border-radius: 10px;
  border: 1px solid #66789D;
  font-size: 1.2rem;
  padding: 10px 5px;
}

.home-outlet {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.anticon-close {
  display: none;
}

@media screen and (max-width: 768px) {
  .intro-bio {
    align-self: center;
  }

  .intro-header {
    align-self: center;
    padding-left: 20px;
  }

  .intro-btn button {
    width: 100%;
  }
}