* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #d0CFCF;
}

.project-wrapper {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/images/5172658.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 10vw;
}

.layout-wrapper {
  gap: 20px;
  background: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidebar-container {
  background-color: rgba(8, 34, 57, 0.5) !important;
  border-radius: 10px ;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-top: 15vh;
}

.ant-menu-item.ant-menu-item-selected {
  background-color: #e65a7c;
}

.layout-container > * {
  background-color: none;
}