* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #d0CFCF;
}

.project-wrapper {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/images/5172658.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 10vw;
}

.layout-wrapper {
  gap: 20px;
  background: none;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.sidebar-container {
  background-color: rgba(8, 34, 57, 0.5) !important;
  border-radius: 10px ;
}

#side-nav .ant-layout-sider-children nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-top: 15vh;
}

.ant-menu-item.ant-menu-item-selected {
  background-color: #e65a7c;
}

.layout-container > * {
  background-color: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 5vw !important;
}

.content-wrapper  {
  width: 100%;
  height: calc(80vh - 176px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-ul {
  width: 100%;
}

#mobile-menu {
  padding: 0;
  background-color: rgba(8, 34, 57, 0.5);
  border: 1px solid #66789D;
  border-radius: 10px;
  width: 80vw;
}

#mobile-menu nav ul {
  display: flex;
  width: 80vw;
  justify-content: space-around;
}

#mobile-menu nav ul li {
  width: 20%;
  justify-content: center;
}

#mobile-menu nav ul li svg {
  width: 100%;
}

#page-title {
  text-transform: uppercase;
  font-size: 1.5rem;
}


@media screen and (max-width: 768px) {

  .home-outlet {
    align-items: center;
    justify-items: center;
  }

  .home-outlet > div {
    display: flex;
    justify-content: center;
  }

  .home-outlet .intro-btn {
    width: 100%;
  }

  .home-outlet .intro-btn button {
    width: 80%;
  }

  .layout-wrapper {
    gap: 5vh;
  }

  
  
}

